<!DOCTYPE html>
<html>
<head>
	<title>{% block headtitle %}Free Noms!{% endblock %}</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script type="text/javascript" src="/scripts/jquery.tokeninput.js"></script>
	<script type="text/javascript" src="/scripts/base.js"></script>
	<link href="/stylesheets/token-input/token-input.css" type="text/css" rel="stylesheet">
	<link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
</head>
<body>
	<div id="header_container">
		<div id="header">
			<h1><a href="/">Free Noms!</a></h1>
			<span id="definition"><span id="word">nom</span> [<span class="italic">nōm</span>]: &quot;the sound made when someone is eating and really enjoying it&quot;</span>
		{% if user_nickname %}
			<span class="user_info">
				<span class="nickname">{{ user_nickname }}</span>
				<span class="separator">|</span>
				<a class="logout" href={{ logout_url }}>log out</a>
			</span>
		{% else %}
			<a class="login" href={{ login_url }}>login</a>
		{% endif %}
		</div>
	</div>
	<div id="menu_container">
		<div id="menu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/report">Report</a></li>
				<li><a href="/find">Find</a></li>
			</ul>
		</div>
	</div>
	<div class="frame">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>