{% extends "base.html" %}
{% block headtitle %} - Find{% endblock %}
{% block content %}
<div class="find">
	<div>
		<h2>Noms</h2>
		<form id="find_search" >
			<label for="find_search_box">Search:</label>
			<input id="find_search_box" type="text">
		</form>
	</div>
	<ul id="reports">
		{% for report in reports %}
		<li>
			<a class="location" href="/find/{{ report.location }}">{{ report.location }}</a>
			<span class="time">{{ report.date|date:"f A" }}</span>
			<span class="date">{{ report.date|date:"M j"}}</span>
			<p class="description">{{ report.description }}</p>
			<!--
			<p>
				{% for spotted in report.foods %}
					<span>{{ spotted.food.name }} </span>
				{% endfor %}
			</p>
			 -->
		</li>
		{% endfor %}
	</ul>
	<p id="no_results" class="hidden">Sorry, there are no reports which meet the search constraints. :' (</p>
</div>
{% endblock %}