<!DOCTYPE html>
<html>
<head>
	<title>Free Noms!</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/index.js"></script>
	<link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
</head>
<body>
	<div id="frame">
		<h1>Free Noms!</h1>
		<div>
			<h2>Report Free Noms</h2>
			<form action="/report" method="get">
				<label for="type"/>Type:</label>
				<input id="type" type="text" name="type"/>
			
				<label for="location"/>Location:</label>
				<input id="location" type="text" name="location"/>
			
				<input id="submit" type="submit" value="Report!">
			</form>
		</div>
		<div>
			<h2>Reported Noms</h2>
			<table>
				<tr>
					<th>Type</th>
					<th>Location</th>
					<th>Date</th>
				</tr>
				{% for report in reports %}
					<tr>
						<td>{{ report.type }}</td>
						<td>{{ report.location }}</td>
						<td>{{ report.date }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</body>
</html>