<!DOCTYPE html>
<html>
<head>
	<title>Free Noms!</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/index.js"></script>
	<link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
</head>
<body>
	<div class="frame">
		<h1>Free Noms!</h1>
		<div class="report">
			<h2>Report Free Noms</h2>
			<form action="/report" method="get">
				<div>
					<label for="type"/>Description:</label>
					<input id="type" type="text" name="type"/>
				</div>
				<div>
					<label for="location"/>Location:</label>
					<input id="location" type="text" name="location"/>
				</div>
				<input id="submit" type="submit" value="Report!">
			</form>
		</div>
		<div class="find">
			<h2>Noms</h2>
			
			{% for report in reports %}
			<div class="shadow">
				<span>{{ report.location }}</span>
				<span>{{ report.date|date:"f A" }}</span>
				<p>{{ report.type }}</p>
			</div>
			{% endfor %}
			
		</div>
	</div>
</body>
</html>