{% extends "base.html" %}
{% block headtitle %} - Report{% endblock %}
{% block content %}
<div class="report">
	<h2>Report Free Noms</h2>
	<p>Tag foods in the description with a hash tag. Example description: free #pizza and #soda for everyone! Provide the location of the spotted free food. For instance, "Porter Hall 226B or GHC 6615"</p>
	<form class="report_form" action="/report" method="post">
		<div>
			<label for="description"/>Description:</label>
			<input id="description" type="text" name="description"/><span id="descriptionInfo"></span>
		</div>
		<div>
			<label for="location"/>Location:</label>
			<input id="location" type="text" name="location"/><span id="locationInfo"></span>
		</div>
		<input id="submit" type="submit" value="Report!">
	</form>
</div>
{% endblock %}