{% extends "base.html" %}
{% block headtitle %} - Report{% endblock %}
{% block content %}
<div class="report">
	<h2>Report Free Noms</h2>
	<form action="/report" method="post">
		<div>
			<label for="description"/>Description:</label>
			<input id="description" type="text" name="description"/>
		</div>
		<div>
			<label for="location"/>Location:</label>
			<input id="location" type="text" name="location"/>
		</div>
		<input type="hidden" id="selected_foods" name="selected_foods">
		<input id="submit" type="submit" value="Report!">
	</form>
</div>
{% endblock %}