@import url('reset.css');

html, body {
	margin: 0;
	padding: 0;
	font-family: Sans-Serif;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

div#header_container {
	width: 100%;
	height: 100px;
	background-color: #333;
}

h1 a{
	color: white;
}

h1 a:hover{
	text-decoration: none;
	color: white;
}

div#header {
	color: white;
	margin: 0 auto;
	height: 100px;
	width: 600px;
	position: relative;
}

div#header h1{
	padding-top: 20px;
	padding-bottom: 5px;
}

div#header span#definition{
	font-weight: lighter;
	font-size: smaller;
	width: 260px;
	display: block;
}

div#header span#word{
	font-weight: bold;
}

div#header span.italic{
	font-style: italic;
}

span.user_info, a.login {
	position: absolute;
	bottom: 40px;
	right: 10px;
	color: white;
}

span.separator {
	margin-left: 2px;
	margin-right: 2px;
	font-size: smaller;
}

a.logout {
	color: white;
}

#menu_container{
  height: 30px;
  background-color: white;
  border-bottom: 2px solid #eee;
}

/*Menu code*/

#menu 
{
	width: 600px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}


#menu li {
	float: left;
}

#menu a {
	display: block;
	color: black;
	width: 198px;
	height: 25px;
	padding-top: 7px;
	border-right: 1px solid #ddd;
	text-decoration: none;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
}

#menu li:first-child a {
	border-left: 1px solid #ddd;
}

#menu a:hover {
	/*-moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;*/
	color: white;
	background-color: black;
	text-decoration: none;
}

div.report label {
	width: 90px;
	display: inline-block;
	margin-bottom: 15px;
}

input[type=text]{
	display: inline-block;
	height: 25px;
}

div.frame {
	width: 600px;
	margin: 0 auto;
	padding: 10px;
}

h2 {
	margin: 10px 0;
}

h1 {
	text-align: left;
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

img.instructions {
	float: left;
	width: 49%;
	margin-left: 4px;
	opacity: .7;
}

img.instructions:hover {
	opacity: 1;
	outline: 2px solid #333;
}

div.report {
	border: 1px solid #ddd;
	padding: 12px;
}

div.find {
	position: relative;
	margin-top: 5px;
	border: 1px solid #ddd;
	padding: 12px;
}

form#find_search label{
	display: inline;
}

form#find_search {
	position: absolute;
	right: 0;
	top: 20px;
	width: 200px;
} 

form#find_search input {
	width: 120px;
	padding-left: 5px;
}


ul.token-input-list {
	width: 200px;
	display: inline-block;
}

div.find ul li {
	min-height: 45px;
	border: 1px solid #ddd;
	margin-bottom: 1px;
	padding: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.06, rgb(242,239,242)),
		color-stop(0.53, rgb(252,252,252))
	);
}

a.location, span.time{
	font-weight: bold;
}

span.date{
	margin-right: 10px;
	font-weight: lighter;
}

span.date, span.time{
	float: right;
}

div.find li p { 
	margin-top: 5px;
}